<div id="<%= dom_id user %>">
  <p>
    <strong>Login:</strong>
    <%= user.login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= user.date_of_birth %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

</div>
